body {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}
#nav-pc ul {
    display: flex;
}
#nav-pc li {
    list-style: none;
}
#nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color:black;
}
#nav-pc a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
}  
#menu-sp {
  display: none;
}
#nav-sp {
  display: none;
} 
@media screen and (max-width: 767px) {
header {
  position: relative;
}
body {
  min-width: 375px;
  margin: 0;
}
#nav-pc {
  display: none;
  background-color: #ce933e;
}
#menu-sp {
  float: right;
  padding: 0;
  display: block;
  border: none;
  background-color: #ce933e;
  z-index: 200;
  width: 60px;
}
#nav-sp {
  background-color: #ce933e;
  z-index: 1000;
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  display: none;
}
#nav-sp ul {
  padding-left: 0;
  background-color: #ce933e;
}
#nav-sp li {
  list-style: none;
  background-color: #ce933e;
}
#close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ce933e;
  border: none;
  width: 50px;
}
#logo-sp {
  margin: 80px 0 30px 20px;
  width: 200px;
}
#nav-sp a {
  display: block;
}
#nav-sp a:link {
  color:#ffffff;
}
#nav-sp a:visited {
  color:#ffffff;
}
#nav-sp a:hover {
  color:#ffffff;
  text-decoration: underline;
}
#nav-sp a:active {
  color:#ffffff;
}
#nav-sp .menu {
  text-decoration: none;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  height: 44px;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}
}